#bg-blur{
    background: rgba(255, 255, 255, 0.205);
    backdrop-filter: blur(3px);
}
#aboutbg{
    background-image: url('../images/textureBg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}